*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.main-navbar__container {
  display: flex;
  gap: 2vw;
}

.main-navbar__menu {
  display: flex;
  gap: 5vw;
}

.main-navbar {
  display: flex;
  padding: 10px;
  background-color: black;
}

.main-navbar__menu__item {
  list-style: none;
  margin-left: 15px;
  background-color: white;
  padding: 12px;
  border-radius: 24px;
}

.footer {
  background-color: black;
  color: #f3f3f3;
  position: fixed;
  bottom: 0;
  padding: 1rem 3rem;
  width: 100%;
}
