body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

.main-navbar__container {
  display: flex;
  gap: 2vw;
}

ul {
  display: flex;
  gap: 5vw;
}

.main-navbar {
  display: flex;
  padding: 10px;
  background-color: grey;
}

.main-navbar__menu > li {
  list-style: none;
  margin-left: 15px;
  background-color: white;
  padding: 12px;
  border-radius: 24px;
}
